<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>Bomc tooglz Web App</display-name>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Toggle Area</web-resource-name>
			<description>Security constraints for using the togglz-console.</description>
			<url-pattern>/togglz/*</url-pattern>
			<http-method>PUT</http-method>
			<http-method>DELETE</http-method>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
		</web-resource-collection>
		<auth-constraint>
			<description>Only the admin has permission to enter the togglz-site. Here the default realm from wildfly is used.</description>
			<role-name>togglz</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	
	<!--Login Prompt --> 
	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>ApplicationRealm</realm-name>
	</login-config>
	
	<!-- Security roles used by this web application, defined in wildfly. -->
	<security-role>
		<role-name>togglz</role-name>
	</security-role>
	
</web-app>